{% extends 'base.html' %}
{% load static %}

{% block title %}Ваши заметки{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-success alert-dismissible fade show text-center" role="alert">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <!--    вкладки на главной-->
    <a href="{% url 'add_note' %}" class="btn btn-success mb-3"><img src="{% static 'img/new.png' %}" style="max-width: 20px;" alt=""> Новая заметка</a>
    <div>
        <div>
            {% include 'includes/table.html' with notes=creator_notes %}
        </div>
    </div>
{% endblock %}